<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gz::sim::systems::MecanumDrive" filename="gz-sim-mecanum-drive-system">
            <front_left_joint>front_left_wheel_joint</front_left_joint>
            <front_right_joint>front_right_wheel_joint</front_right_joint>

            <back_left_joint>back_left_wheel_joint</back_left_joint>
            <back_right_joint>back_right_wheel_joint</back_right_joint>

            <wheel_separation>0.226</wheel_separation>
            <wheel_radius>0.029</wheel_radius>
            <wheelbase>0.235</wheelbase>

        </plugin>
    </gazebo>

</robot>